<div>
    <a [routerLink]="['/add']">Create New</a>
</div>
<app-bug-stats [data]="bugOperations.bugs"></app-bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <select (change)="bugSortAttr = $any($event.target).value">
        <option value="">---Select---</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending ? :</label>
    <input type="checkbox" (change)="bugSortDesc = $any($event.target).checked">
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of (bugOperations.bugs|sort:bugSortAttr:bugSortDesc) ">
            <span 
                class="bugname"
                (click)="onBugNameClick(bug)"
                [ngClass]="{closed : bug.isClosed}"
            >
                {{bug.name | trimText:40}}
            </span>
            <div class="datetime">{{bug.createdAt | elapsed }}</div>
            <button (click)="onRemoveClick(bug)">Remove</button>
            <div>
                <a [routerLink]="['/details', bug.id]">More...</a>
            </div>
        </li>
    </ol>
    <button (click)="onRemoveClosedClick()">Remove Closed</button>
</section>